<!DOCTYPE>
<html>
	<head>
		<title>MYHSIT</title>
		<link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>
	<body id="homebody">
		<div align="center" id="container">
			<a class="main" href="{{url_for('flower')}}">FLOWER</a>
			<a class="main" href="{{url_for('sun')}}">SUN</a>
			<a class="main" href="{{url_for('moon')}}">MOON</a>
			<a class="main" href="{{url_for('moon2')}}">MOON2</a>
			<a class="main" href="{{url_for('lights')}}">LIGHTS</a>
		</div>
		
		<div class=footer>
			<a href="{{url_for('feedback')}}">Feedback?</a>
		</div>
	</body>
</html>