<!DOCTYPE>
<html>
	<head>
		<title>MOON</title>
		<script type="text/javascript" src="{{url_for('static' , filename='main.js')}}"></script>
		<script src="https://js-cdn.music.apple.com/musickit/v1/musickit.js"></script>
 		<meta name="apple-music-developer-token" content="DEVELOPER-TOKEN">
 		<meta name="apple-music-app-name" content="My Cool Web App">
 		<meta name="apple-music-app-build" content="1978.4.1">
		<link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>
	<body id="moonbody">
		<a class="back" href="{{url_for('home')}}">BACK</a>
		<div align="center" class="title-container">
			<h1 class="titles">MOON</h1>
			<p class="description">THIS IS A HARD ONE. SADDER, THOUGHER, DARKER. UNLIKE SUN THIS PLAYLIST GOES THROUGH A DIFFERENT KIND OF SELF-EXPLORATION. DONT GO IN TO THIS EXPECTING TO COME THE SAME.</p>
		</div>
	</body>
</html>